video{
    position: absolute;
    z-index:-1;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow:hidden;
 }

 p{
  font-family: 'Dosis', sans-serif;
  color:#fff;
  font-size: 80px;
  text-align: center;
  top: 10px;
  text-shadow: 0 1px 1px #000a33;
 }